$fillColor: var(--ifm-font-color-base);
$hoverFillColor: var(--ifm-color-primary);
$background: var(--ifm-background-surface-color);

button.react-flow__controls-button {
  border: 0;
  color: $fillColor;
  background-color: $background;

  svg path {
    fill: $fillColor;
  }

  &:hover {
    background-color: $background;

    svg path {
      color: $hoverFillColor;
      fill: $hoverFillColor;
    }
  }
}

rect.react-flow__edge-textbg {
  fill: $background;
}

text.react-flow__edge-text {
  fill: $fillColor;
}

div.react-flow__attribution {
  background: transparent;
}
